<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
</head>

<body>
    This is a shared content
    <h2>About me</h2>
    <p>xcfvgdfdf Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed ullam ea, amet, consequatur non ipsa
        iusto, accusamus earum eaque quos debitis pariatur modi cumque culpa expedita repellendus voluptates eveniet?
    </p>

    <a href="/home">go home</a>
</body>

</html>