<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/somecss">
</head>
<body>
    This is a shared content
    <div>
        <h2>you are at home</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed ullam ea, amet, consequatur non ipsa iusto, accusamus earum eaque quos debitis pariatur modi cumque culpa expedita repellendus voluptates eveniet?</p>
    </div>
    <a href="/about">go about</a>
</body>
</html>