.table {
   width: 100%;
}

 /* the following selector will select tr if tr was the first element inside any elemenet */
/* tr:first-child{
    background-color: gray;
}  

/* select odd rows or we can use 2n+1 */
tr:nth-child(odd) {
   background: blueviolet;
}

/* select even rows or we can use 2n */
tr:nth-child(even) {
   background: chartreuse;
}

/* select 3n means change 3 and 6 and 9 .. */
tr:nth-child(3n) {
   background: darkblue;
}