.container {
    width: 100%;
    /* border: 1px solid black;  */
}

.container td {
    vertical-align: top;
}

td {
    width: 16.5%;
}

td:first-child {
    width: 50%;
}
input,
input + div {
    display: none;
}

input:checked + div {
    display: block;
}