.someDiv {
    height: 2000px;
    width: 500px;
    background-color: red;
}

.subDiv {
    height: 50px;
    width: 50px;
    background-color: royalblue;
    position: fixed;
    top: 10px;
}

.goup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    color: black;
}