.someDiv {
    width: 500px;
    height: 500px;
    background-color: red;
    left: 50px;
    top: 50px;
    position: absolute;
}

.subDiv {
    width: 50px;
    height: 50px;
    background-color: violet;
    left: 225px;
    top: 225px;
    position: absolute;
    
}