.container {
    background-color: brown;
    position: relative;
    left: 100px;
}

.fixedDiv {
    background-color: burlywood;
    height: 50px;
    width: 50px;
    position: sticky;
    top: 5ovh;
    left: 50vw;
    transform: translate(-25px,-25px);
    /* left:500px; */
}

.par {
    position: relative;
    bottom: 100px;
    z-index: 3;
    /*the layer which has heigher z-index will be in the top*/
}

.someDiv {
    background-color: chartreuse;
    height: 100px;
    width: 100px;
    /* left: 20px; */
    right: 20px;
    bottom: 20px;
    /* top:50px; */
    position: relative;
    z-index: 4;

}