#canvas {
    border: 1px solid black;
    /* background-image: url(../delphin.png);
    background-repeat: no-repeat;
    background-size: 700px 300px; 
    background-position-x: center; */
    
    
}