.div1 {
    background-color: red;
    height: 10vh;
}

.div2 {
    background-color: darkcyan;
    height: 20vh;
}
.div3 {
    background-color: blueviolet;
    height: 20vh;
}
.div4 {
    background-color: blue;
    height: 10vh;
}
.div5 {
    background-color: green;
    height: 10vh;
}
.div6 {
    background-color: rgb(7, 6, 6);
    height: 10vh;
}