/* body {
    background-color: black;
} */

/* .bubble {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    perspective: 50vw;
    transform: translateZ(-99999px);
    transform-style: preserve-3d;
}

.subBubble {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(255,255,255,0.3)60%,rgba(255,255,255,1)80%);
    will-change: top,left;
    transform: translateX(-50%);
}

.subBubble::after {
    position: absolute;
    top: 25%;
    right: 25%;
    
    width: 33%;
    height: 33%;
    border: 3px solid;
    border-radius: 50%;
    
    border-color: rgba(255,255,255,0.8) transparent transparent transparent;
    transform: rotate(45deg);
} */

#container {
    overflow: hidden;
    background: #000;
    height: 100vh;
    /* transform: translate(-50%,-1000%); */
    
     filter: hue-rotate(720deg);
}

span {
    position: absolute;
    background: url(../imgs/grass.png);
    pointer-events: none;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: animate 2s linear infinite;
}