<footer>
    <div>
        <h3><%=footerName%></h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, magni. Fuga voluptates sint cum aperiam, totam assumenda officia doloribus consectetur dicta, voluptatum praesentium saepe a eveniet ipsum quia, eius pariatur?</p>
    </div>
</footer>