* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 204, 204);
}
/* make 3 div inside a parent div */

.card {
    background-color: white;
    margin: 20px;
    position: relative;
    max-height: 416px;
    /* overflow-y: scroll; */

    border-radius: 10px;
}


/* put an image as background on the top and a title onthe bottom of the image*/

.img1 {
    height: 150px;
    background-image:linear-gradient(rgba(243, 178, 94, 0.534),rgba(243, 178, 94, 0.534)), url('../imgs/nat-5.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
    border-radius: 10px 10px 0px 0px;
}

.img2 {
    height: 150px;
    background-image: linear-gradient(rgba(153, 247, 144, 0.534),rgba(153, 247, 144, 0.534)),url('../imgs/nat-6.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
    border-radius: 10px 10px 0px 0px;
}

.img3 {
    height: 150px;
    background-image: linear-gradient(rgba(129, 178, 241, 0.534),rgba(129, 178, 241, 0.534)),url('../imgs/nat-7.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
    border-radius: 10px 10px 0px 0px;
}
.title1 {
    position: absolute;
    right: 3px;
    top: 85px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(241, 209, 166)0%, rgb(243, 178, 94)100%);
    padding: 5px;
    color: white;
}
.title2 {
    position: absolute;
    right: 3px;
    top: 115px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(241, 209, 166)0%, rgb(243, 178, 94)100%);
    padding: 5px;
    color: white;
}

.title3 {
    position: absolute;
    right: 3px;
    top: 85px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(198, 240, 194)0%, rgb(59, 109, 55)100%);
    padding: 5px;
    color: white;
}
.title4 {
    position: absolute;
    right: 3px;
    top: 115px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(198, 240, 194)0%, rgb(59, 109, 55)100%);
    padding: 5px;
    color: white;
}

.title5 {
    position: absolute;
    right: 3px;
    top: 85px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(180, 202, 231)0%, rgb(100, 136, 184)100%);
    padding: 5px;
    color: white;
}
.title6 {
    position: absolute;
    right: 3px;
    top: 115px;
    text-transform: uppercase;
    background:linear-gradient(to top, rgb(180, 202, 231)0%, rgb(100, 136, 184)100%);
    padding: 5px;
    color: white;
}


/* write a list for the description */
.list {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    color: gray;
    font-size: smaller;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.list>li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(172, 168, 168, 0.925);
}

.list>li:last-child {
    border-bottom: none;
    
}

.flip {
    background-color: transparent;
    /* width: 25vw; */
    height: 60vh;
    perspective: 1000px;
}


.base {
    border-radius: 10px;
    box-shadow: 1px 7px 17px rgb(29, 28, 28);
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.flip:hover .base {
    transform: rotateY(180deg);
}
.front, .back {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}
.front {
    background-color: white;
}
.back1 {
    background: linear-gradient(rgb(102, 81, 53),rgb(240, 143, 16));
    transform: rotateY(180deg);
    text-align: center;
    color: black;
    padding-top: 30%;
}
.back2 {
    background: linear-gradient(rgb(66, 94, 63),rgb(153, 247, 144));
    transform: rotateY(180deg);
    text-align: center;
    color: black;
    padding-top: 30%;
    
}
.back3 {
    background: linear-gradient(rgb(54, 72, 95),rgb(129, 178, 241));
    transform: rotateY(180deg);
    text-align: center;
    color: black;
    padding-top: 30%;
    
}
.back>h2{
    color: white;
    bottom: 1px;;
    font-size: 0.75em;
   
}



.back>p{
    color: white;
    margin: 5px 0 60px 0 ;
    /* font-size: 3em; */
    font-size: 60px;
    font-weight: lighter;
    line-height: 1.5; 
}


.back>.book {
    border-radius: 10rem;
    background-color: white;
    width: 200px;
    height: 40px;
    /*   position: relative; */
    text-align: center;
    padding-top: 10px;
    margin: auto;

}








.respo{
    width: 100%;
    height: 200px;
    position: absolute;
    background: linear-gradient(rgb(102, 81, 53),rgb(240, 143, 16));
    bottom: 1px;
    clip-path: polygon(0 30%, 100% 11%, 100% 100%, 0% 100%);
    display: none;
    
}


@media only screen and (max-width:980px) 
{

    .col-4 {
        width: 50%;
    }
   

    .title1,
    .title3,
    .title5 {
        right: 60px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }
    .title2,
    .title4,
    .title6 {
        right: 9px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }

    .list {
        list-style-type: none;
        margin-top: 10px;
        text-align: center;
        color: gray;
        font-size: 10px;
        padding: 5px;
        padding-left: 70px;
        padding-right: 70px;
    } 
     
    
    .respo {
    display: block;

}

    .respo>h2 {
        color: white;
        margin-top: 73px;
        text-align: center;
        font-size: 0.75em;
       
    }
    
    
    .respo>p {
        color: white;
        margin-top: -3px;
        text-align: center;
        font-size: 2rem;
        
    }
    .respo>.book  {
        border-radius: 10rem;
        background-color: white;
        width: 150px;
        height: 34px;
        /*   position: relative; */
        text-align: center;
        margin-top: -58px;
    
    }

    .flip:hover .base {
        transform: none
    }

    .card {

        max-height: 490px;

    }
    .flip {
        height: 88vh;
    }
}



@media only screen and (max-width:524px) 
{
    .front {
        height: auto;
        position: relative;
        font-size: 50%;
    }

    .title1 {
        right: 60px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }
    .title2 {
        right: 9px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }

    .list {
        list-style-type: none;
        margin-top: 10px;
        text-align: center;
        color: gray;
        font-size: 10px;
        padding: 5px;
        padding-left: 70px;
        padding-right: 70px;
    } 
     
    
    .respo {
    display: block;

}

    .respo>h2 {
        color: white;
        margin-top: 73px;
        text-align: center;
        font-size: 0.75em;
       
    }
    
    
    .respo>p {
        color: white;
        margin-top: -3px;
        text-align: center;
        font-size: 2rem;
        
    }
    .respo>.book  {
        border-radius: 10rem;
        background-color: white;
        width: 150px;
        height: 34px;
        /*   position: relative; */
        text-align: center;
        margin-top: -58px;
    
    }

    .flip:hover .base {
        transform: none
    }

    .card {

        max-height: 553px;

    }
    .flip {
        height: 91vh;
    }
}

@media only screen and (max-width:450px) 
{
    .front {
        height: auto;
        position: relative;
        font-size: 50%;
    }

    .title1 {
        right: 60px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }
    .title2 {
        right: 9px;
        top: 92px;
        padding: 5px;
        font-size: 50%;
       
    }

    .list {
        list-style-type: none;
        margin-top: 10px;
        text-align: center;
        color: gray;
        font-size: 10px;
        padding: 5px;
        padding-left: 70px;
        padding-right: 70px;
    } 
     
    
    .respo {
    display: block;

}

    .respo>h2 {
        color: white;
        margin-top: 73px;
        text-align: center;
        font-size: 0.75em;
       
    }
    
    
    .respo>p {
        color: white;
        margin-top: -3px;
        text-align: center;
        font-size: 2rem;
        
    }
    .respo>.book  {
        border-radius: 10rem;
        background-color: white;
        width: 110px;
        height: 34px;
        /*   position: relative; */
        text-align: center;
        margin-top: -58px;
    
    }

    .flip:hover .base {
        transform: none
    }

    .card {

        max-height: 493px;

    }
    .flip {
        height: 100vh;
    }
    .col-4 {
        width: 100%;
    }
}


   