.container {
    display: grid;
    height: 100vh;
    grid-template-areas:'div1 div1 div2 div2 div3 div3 div4 div4 div4 '
                        'div1 div1 div2 div2 div3 div3 div7 div7 div8 '
                         'div5 div5 div6 div6 div3 div3 div7 div7 div8 '
                         'div5 div5 div9 div9 div10 div10 div10 div10 div8'  ;
    grid-gap: 15px;  
    grid-template-rows: 20vh 10vh auto 15vh ;
}

.container div {
    background-color: blueviolet;
    text-align: center;
    color: white;
}

.div1 {
    grid-area: div1;
}
.div2 {
    grid-area: div2;
}
.div3 {
    grid-area: div3;
}
.div4 {
    grid-area: div4;
}
.div5 {
    grid-area: div5;
}
.div6 {
    grid-area: div6;
}
.div7 {
    grid-area: div7;
}
.div8 {
    grid-area: div8;
}
.div9 {
    grid-area: div9;
}
.div10 {
    grid-area: div10;
}

@