<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML CSS Summerize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="banner"></div>


    <div class="cards">
        <h2>Contact me</h2>
        <div class="cards-container">
            <form method="GET" action="/contact">
                <div class="section">
                    <div class="input-container">
                        <input type="text" placeholder="Name" name="name"><br>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Subject" name="subject"><br>
                    </div>
                    <div class="input-container">
                        <textarea cols="30" rows="10" placeholder="Message" name="message"></textarea>
                    </div>
                    <input type="submit" class="footer-btn" value="Send">
                </div>
            </form>
        </div>
    </div>


    <!-- <--the footer -->

    <footer class="footer">
        <div class="section">
            <div class="logo-container">
                <img src="/img/Logo.png" alt="" width="200px" height="200px">
            </div>
            <div class="contact-container">
                <ul>
                    <li><a href="#"><i class="far fa-envelope"></i> info@digitalcareerinstitute.org</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> +495156461313</a></li>
                    <li><a href="#"><i class="fas fa-globe"></i> https://www.digitalcareerinstitute.org</a></li>
                </ul>
            </div>

        </div>

        <div class="section">
            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook"> Facebook</i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"> Twitter</i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i> youtube</i></a></li>
            </ul>
        </div>

        <div class="section">
            <div class="input-container">
                <input type="text" placeholder="Name"><br>
            </div>
            <div class="input-container">
                <input type="text" placeholder="Subject"><br>
            </div>
            <div class="input-container">
                <textarea cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <button class="footer-btn">Send</button>
        </div>
    </footer>

</body>

</html>